<header class="app-header">
  <div class="header-content">
    <h1 class="header-title">Task Manager</h1>
    <div class="navigation">
      <ul>
        <li class="link header-subtitle"><a href="">home</a></li>
        <li class="link header-subtitle"><a href="">about</a></li>
        <li class="link header-subtitle"><a href="">profile</a></li>
      </ul>
    </div>
    <div class="counter-wrapper">
      <div class="session-counter">
        <span class="live-dot"></span>
        <span class="time">Active Session: {{ counter }}s</span>
      </div>
    </div>
  </div>
</header>
