<div class="navigator">
  <button type="button" [class.active]="activeFilter === 'all'" (click)="filtering('all')">All</button>
  <button type="button" [class.active]="activeFilter === 'inProgress'" (click)="filtering('inProgress')">In
    Progress</button>
  <button type="button" [class.active]="activeFilter === 'done'" (click)="filtering('done')">Done</button>
</div>
<app-card-list [task]="task" [filter]="activeFilter" (deleteTask)="deleteTask.emit($event)" (editTask)="editTask.emit($event)" (notifyDeath)="notifyDeath.emit()"></app-card-list>
